<!-- Navigation -->
<header>
    <div class="logo">
        <a href="<%- config.root %>"><%- config.title || "" %></a>
    </div><!-- end logo -->

    <div id="menu_icon"></div>
    <nav>
        <ul>
            <% for (var i in theme.menu){ %>
            <li>
                <a href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
            </li>
            <% } %>
        </ul>
    </nav><!-- end navigation menu -->

    <div class="footer clearfix">
        <ul class="social clearfix">
            <% if (theme.twitter_url) { %>
                <li><a href="<%- theme.twitter_url %>" class="twitter" target="_blank" data-title="Twitter"></a></li>
            <% } %>
            <% if (theme.facebook_url) { %>
                <li><a href="<%- theme.facebook_url %>" class="fb" target="_blank" data-title="Facebook"></a></li>
            <% } %>
            <% if (theme.behance_url) { %>
                <li><a href="<%- theme.behance_url %>" class="behance" target="_blank" data-title="Behance"></a></li>
            <% } %>
            <% if (theme.googleplus_url) { %>
                <li><a href="<%- theme.googleplus_url %>" class="google" target="_blank" data-title="Google+"></a></li>
            <% } %>
            <% if (theme.dribble_url) { %>
                <li><a href="<%- theme.dribble_url %>" class="dribble" target="_blank" data-title="Dribble"></a></li>
            <% } %>
            <% if (theme.rss_url) { %>
                <li><a href="<%- theme.rss_url %>" class="rss" target="_blank" data-title="RSS"></a></li>
            <% } %>
            <% if (theme.weibo_url) { %>
                <li><a href="<%- theme.weibo_url %>" class="weibo" target="_blank" data-title="<%- theme.weibo_title %>"></a></li>
            <% } %>
            <% if (theme.qq_group_idkey) { %>
                <li><a href="//shang.qq.com/wpa/qunwpa?idkey=<%- theme.qq_group_idkey %>" class="qq-group" target="_blank" data-title="<%- theme.qq_group_title %>"></a></li>
            <% } %>
            <% if (theme.email_address) { %>
                <li><a href="mailto:<%- theme.email_address %>" class="email" data-title="<%- theme.email_title %>"></a></li>
            <% } %>
        </ul><!-- end social -->

        <div class="rights">
            <p>Copyright © 2017 风骨字幕组</p>
            <!--<p>Template by <a href="http://pixelhint.com/magnetic-free-html5-responsive-photography-website-template/">Pixelhint.com</a></p>
            <p>Hexo Theme by <a href="http://www.codeblocq.com/">Jonathan K.</a></p>-->
            <p>一个任性的字幕组 只翻想翻的剧</p>
        </div><!-- end rights -->
    </div ><!-- end footer -->
</header><!-- end header -->